@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --dark-color: #050038;
    --gray-color: #9B99AF;
    --primary-color: #4262FF;
    --light-color: #ffffff;
    --secondary-color: #FFD02F;

    --max-width: 1400px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-secondary {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 1rem;
    border-radius: 200px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1rem 2rem;
    border-radius: 200px;
}

button, input, textarea {
    outline: none;
}

input {
    border: 1px solid var(--gray-color);
    padding: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 200px;
}

body {
    background-color: var(--light-color);
}

header {
    border-bottom: 1px solid var(--gray-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    margin: 0 auto;
}

header nav .nav-links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
    gap: 0.5rem;
}

header nav ul li a:hover {
    opacity: 0.8;
}

main .hero-section {
    padding: 4rem;
    margin: 0 auto;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

main .hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

main .hero-section p {
    color: var(--gray-color);
    margin-bottom: 1rem;
}

main .hero-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

main .hero-section form input, main .hero-section form button {
    width: 100%;
}

main .hero-section form button {
    border: none;
}

.hero-bottom-img {
    margin-top: 2rem;
}

.branding-section {
    max-width: var(--max-width);
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
}

.branding-section p {
    color: var(--gray-color);
    margin-bottom: 2rem;
}

.branding-section .brand-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
}

.collaborate-section {
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
    margin-top: 8rem;
}

.collaborate-section h1 {
    text-align: center;
    width: 30%;
    position: relative;
    margin: 0 auto;
}

.collaborate-section .tag {
    position: absolute;
    top: -50px;
    right: -40px;
}

.collaborate-section .rows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.collaborate-section .rows .col {
    text-align: left;
}

.collaborate-section .rows .col h3 {
    margin-bottom: 1rem;
}

.collaborate-section .rows .col p {
    color: var(--gray-color);
}

.work-section {
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: 8rem;
    padding: 4rem;
    margin: 0 auto;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.work-inner-section {
    width: 40%;
}

.work-inner-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;    
}

.work-inner-section p {
    color: var(--gray-color);
    margin-bottom: 2rem;
}

.work-inner-section a {
    text-decoration: underline;
    color: var(--primary-color);
}

.report-section {
    width: 100%;
}

.report-section img {
    width: 100%;
}
